# docker-compose.yml

version: '3.8'

services:
  # 1. Redis 서비스 (Celery 브로커 + Job DB)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379" # (Windows에서 Redis GUI로 접속해볼 수 있도록 포트 개방)


  # 2. FastAPI (Uvicorn) API 서비스
  api:
    build: .  # (현재 폴더의 Dockerfile을 사용)
    ports:
      - "8000:8000" # (Windows의 8000번 포트와 컨테이너 8000번 연결)
    # Ping 간격을 60초로, 응답 대기 시간을 300초로 늘림
    command: uvicorn stt_api.main:app --host 0.0.0.0 --port 8000 --reload --ws-ping-interval 60 --ws-ping-timeout 300 --timeout-keep-alive 120
    volumes:
      - .:/app # (코드를 수정하면 자동으로 컨테이너에 반영)
      - ./vernal-landing-480104-k2-3c6e6252bdb2.json:/app/google-key.json
    depends_on:
      - redis # (Redis가 켜진 후에 API 서버가 켜지도록 설정)
    environment:
      - DB_HOST=${DB_HOST:-210.116.103.144}
      - DB_PORT=${DB_PORT:-3306}
      - DB_NAME=${DB_NAME:-curemate}
      - DB_USER=${DB_USER:-uds}
      - DB_PASSWORD=${DB_PASSWORD:-275506%)}
      - GOOGLE_APPLICATION_CREDENTIALS=/app/google-key.json

  # 3. Celery 워커 서비스 (★ Windows 오류 해결!)
  worker:
    build: .  # (API와 동일한 Dockerfile 사용)
    command: python -m celery -A stt_api.core.celery_config.celery_app worker --loglevel=info -c 4
    volumes:
      - .:/app
    depends_on:
      - redis